# Basic Stock Analysis

How to evaluate the performance of your assets?
Optimize your portfolio by reviewing the statistics of your stocks.

### 1. Importing Libraries

In [1]:
import pandas_datareader as pdr
import numpy as np
import datetime as dt
import pandas as pd
from sklearn.linear_model import LinearRegression

### 2. Calculating Beta
Beta expresses how "dynamic" an asset reacts to market fluctuations. A high beta means high risk, but also high opportunity, depending on the market.
- Beta < 1: More stable, but also less growth opportunity
- Beta > 1: More risky, but also more gain opportunity

#### Method
- Get raw stock data of the market and the stocks of interest (can be 1 year, 3 years or other timeframe). Typically the S&P500 (Symbol "^GSPC") is used as the representation of the market data.
- Transform raw data into a dataframe with returns
- Calculate Beta
- Calculate the expected rate of return (CAPM method)
- Interprete the results

In [ ]:
# 
def calc_return(df):
    '''Function to calculate the returns
    - input: dataframe with raw stock data
    - output: daframe with calculated returns'''

In [10]:
tickers = ['XIC.TO', '^GSPC', 'SHOP', 'TSLA', 'VFV.TO']
start = dt.datetime(2018, 12, 1)
end = dt.datetime(2021, 12, 1)
data = pdr.get_data_yahoo(tickers, start, end, interval="d")

data = data['Adj Close']

log_returns = np.log(data / data.shift())

In [11]:
data

Symbols        XIC.TO        ^GSPC         SHOP         TSLA      VFV.TO
Date
2018-12-03  22.188372  2790.370117   156.389999    71.697998   62.759415
2018-12-04  21.905542  2700.060059   150.199997    71.940002   60.894703
2018-12-05  22.078888          NaN          NaN          NaN   62.176094
2018-12-06  21.732191  2695.949951   156.899994    72.612000   61.382393
2018-12-07  21.549723  2633.080078   146.880005    71.594002   59.737621
...               ...          ...          ...          ...         ...
2021-11-25  34.549999          NaN          NaN          NaN  106.129997
2021-11-26  33.689999  4594.620117  1576.699951  1081.920044  104.459999
2021-11-29  33.730000  4655.270020  1567.020020  1136.989990  105.470001
2021-11-30  33.000000  4567.000000  1521.790039  1144.760010  103.760002
2021-12-01  32.650002  4513.040039  1459.709961  1095.000000  102.769997

[768 rows x 5 columns]

In [12]:
log_returns

Symbols       XIC.TO     ^GSPC      SHOP      TSLA    VFV.TO
Date
2018-12-03       NaN       NaN       NaN       NaN       NaN
2018-12-04 -0.012829 -0.032900 -0.040385  0.003370 -0.030162
2018-12-05  0.007882       NaN       NaN       NaN  0.020824
2018-12-06 -0.015827       NaN       NaN       NaN -0.012848
2018-12-07 -0.008432 -0.023596 -0.065993 -0.014119 -0.027161
...              ...       ...       ...       ...       ...
2021-11-25  0.006097       NaN       NaN       NaN  0.003303
2021-11-26 -0.025207       NaN       NaN       NaN -0.015861
2021-11-29  0.001187  0.013114 -0.006158  0.049647  0.009622
2021-11-30 -0.021880 -0.019143 -0.029288  0.006811 -0.016346
2021-12-01 -0.010663 -0.011886 -0.041650 -0.044441 -0.009587

[768 rows x 5 columns]

### Calculating Beta

In [13]:
cov = log_returns.cov()
var = log_returns['^GSPC'].var()
beta_xic = cov.loc['XIC.TO', '^GSPC'] / var
beta_shop = cov.loc['SHOP', '^GSPC'] / var
beta_tsla = cov.loc['TSLA', '^GSPC'] / var
beta_vfv = cov.loc['VFV.TO', '^GSPC'] / var

In [14]:
print('Betas for XIC: {:1.2}, SHOPIFY: {:1.2}, Tesla: {:1.2}, Vanguard: {:1.2}'.format(beta_xic, beta_shop, beta_tsla, beta_vfv))

Betas for XIC: 0.79, SHOPIFY: 1.2, Tesla: 1.3, Vanguard: 0.88